# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder attributes
._*

# macOS resource forks
.Spotlight-V100
.Trashes

# Ignore virtual environment
.venv/

# Ignore PyCharm settings
.idea/

# Large data
/backend/data/raw_data/
